/* clear the floats so the rest of the document flows properly */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*
 * This section is to create a responsive design usign column approach 
 * Left most Floats dont respect their width if they do not have any content which
 * screwed up my columns.  So I add a clear border to every col-1 to ensure it
 * has some content -- then it respects its size
*/
[class*="col-"] {
    float: left;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0);
    /* FORCE some content in col so even blank ones respect float */
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

/* Responsive layout - when the screen is less than 640px, stack title and Nav */
@media screen and (max-width: 640px) {
    .col-0-small {width: 0%; border: 0;}
    .col-1-small {width: 2.33%;}
    .col-10-small {width: 95.66%;}
    .col-12-small {width: 100%;}

    #innerFlex {
        margin: 0 0px 0px 0px;
        border: 0;

        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }

    #title {
        padding: 0 30px 0 30px;
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
        margin: 5% 0px 5% 0;
    }

    h2 {
        font-size: 1em;
    }

    /* Nav links right justified */
    .navigation {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .line {
        border-right: 0px solid #9e9fa4;
        /* line 1 pixel width, length of "Some content" */
    }

    .container {
        margin: 2% auto 2% auto;
    }

    /* float to make the text wrap around the image.  This is best use of float */
    #bio-image {
        float: none;
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }

    #myBio p {
        letter-spacing: normal;
        line-height: 2em;
    }

}

@media screen and (min-width: 641px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media screen and (min-width: 641px) and (max-width: 768px) {

    /* The Bio Image */
    #bio-image {
        width: 275px;
        height: 206px;
        margin-right: 20px;
        border: 1px solid #dddddd;
    }

}

/* Max Width Happens in content and (max-width: 980px) -- no need to specify */
@media screen and (min-width: 769px)  {

    /* The Bio Image */
    #bio-image {
        width: 275px;
        height: 206px;
        margin-right: 20px;
        border: 1px solid #dddddd;
    }

}

@media screen and (min-width: 981px) {

    /* The Bio Image */
    #bio-image {
        width: 275px;
        height: 206px;
        margin-right: 20px;
        border: 1px solid #dddddd;
    }

}